<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bus Loop App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D2DD17D1E9C2FFF00E1F8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D2DD1911E9C300000E1F8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D2DD19C1E9C300000E1F8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
